<template>
    <div class="bookCard row justify-content-center">
        <div v-for="review in reviews" :key="review.id" class="card mx-2 my-3  animated fadeInDown">
            <div class="card-header">
                {{ getBookTitle(review.book) }}<br/>
                <font-awesome-icon v-for="i in review.rating" :key="i" icon="star"></font-awesome-icon>
            </div>
            <div class="card-body">
                <blockquote class="blockquote text-left mb-0">
                    <p>{{ review.body }}</p>
                    <footer class="blockquote-footer">{{ review.author }} <cite title="Source Title">( {{
                        review.publishedAt | formatDate }} )</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: "reviewCards",
        props: {
            reviews: Array,
            books: Array,
        },
        methods: {
            getBookTitle(bookId) {
                return this.books[bookId.slice(-1)-1].title
            }
        },
    }
</script>

<style scoped lang="scss">
    .card {
        width: 17rem;
        max-width: 17rem;
        border: unset;
        border-radius: unset;
        box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.64);

        .card-header {
            font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
            font-family: Meera, sans-serif;
            min-height: 15vh;
            font-weight: unset;
            border: unset;
            border-radius: unset;
            background-color: #344859;
            color: white;
        }
    }
</style>
