<template>
    <carousel perPage=1 paginationColor="#8dc4e1" paginationActiveColor="#344859" class="mb-5">
        <slide v-for="book in books" :key="book.id">
            <div class="card mx-auto my-5 animated lightSpeedIn">
                <div class="card-header">
                    {{ book.title ? book.title : 'Pas de titre' | capitalize }}
                </div>
                <div class="card-body">
                    <blockquote class="blockquote text-left mb-0">
                        <p v-html="book.description"></p>
                        <footer class="blockquote-footer">{{ book.author }} <cite title="Source Title">( {{
                            book.publishedAt | formatDate }} )</cite>
                        </footer>
                    </blockquote>
                </div>
            </div>
        </slide>
    </carousel>
</template>

<script>
    import {Carousel, Slide} from 'vue-carousel';

    export default {
        name: "bookCarousel",
        props: {
            books: Array,
        },
        components: {
            Carousel,
            Slide
        }
    }
</script>

<style scoped lang="scss">
    .card {
        width: 100%;
        max-width: 80%;
        border: unset;
        border-radius: unset;
        box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.64);

        .card-header {
            font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
            font-family: Meera, sans-serif;
            font-weight: unset;
            border: unset;
            border-radius: unset;
            background-color: #344859;
            color: white;
        }
    }

    .carousel {
        height: 60vh !important;
    }

</style>
