<template>
    <section>

        <div class="book-cards">
            <div class="alert alert-success" v-if="isUpdated && !close">
                The books has been updated successfully
                <font-awesome-icon icon="times-circle" class="float-right close"
                                   @click="close = !close"></font-awesome-icon>
            </div>
            <div class="alert alert-success" v-if="isDeleted && !close">
                The book has been deleted successfully
                <font-awesome-icon icon="times-circle" class="float-right close"
                                   @click="close = !close"></font-awesome-icon>
            </div>

            <div class="row justify-content-center" v-if="!isForm && !isShow">
                <div v-for="book in books" :key="book.id" class="card mx-2 my-3 animated fadeInDown">
                    <div class="card-header">
                        {{ book.title | capitalize }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote text-left mb-0">
                            <p v-html="book.description"></p>
                            <footer class="blockquote-footer">{{ book.author }} <cite title="Source Title">( {{
                                book.publishedAt | formatDate }} )</cite>
                            </footer>
                        </blockquote>

                        <font-awesome-icon @click="editBook(book)" icon="edit"
                                           class="float-right trash"></font-awesome-icon>
                        <font-awesome-icon @click="showBook(book)" icon="eye"
                                           class="float-right trash mr-2"></font-awesome-icon>
                        <font-awesome-icon @click="removeBook(book)" class="float-right trash mr-2"
                                           icon="trash-alt"></font-awesome-icon>
                    </div>
                </div>
            </div>
        </div>

        <div class="show-book" v-if="isShow && !isForm">
            <div class="row justify-content-center">
                <div class="card mx-2 my-3">
                    <div class="card-header">
                        {{ book.title | capitalize }}
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote text-left mb-0">
                            <p v-html="book.description"></p>
                            <footer class="blockquote-footer">{{ book.author }} <cite title="Source Title">( {{
                                book.publishedAt | formatDate }} )</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
            </div>
            <button @click="isShow = false" class="btn btn-secondary mx-2">Cancel</button>
            <button @click="editBook(book)" class="btn btn-success mx-2">Edit</button>
            <button @click="removeBook(book)" class="btn btn-danger mx-2">Delete</button>
        </div>

        <div class="row justify-content-center mt-4" v-if="isForm && !isShow">
            <div class="card card-form">
                <div class="card-body">
                    <form @submit.prevent="submitForm(book)" class="mx-5">

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="isbnInput">Isbn</label>
                                    <input type="text" class="form-control" id="isbnInput" v-model="book.isbn"
                                           placeholder="47239A2947243" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="titleInput">Title</label>
                                    <input type="text" class="form-control" id="titleInput" v-model="book.title"
                                           placeholder="The lord of the rings" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="authorInput">Author</label>
                                    <input type="text" class="form-control" id="authorInput" v-model="book.author"
                                           placeholder="J.R.R Tolkien" required>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="publishedDateInput">Published date</label>
                                    <input type="date" class="form-control" id="publishedDateInput"
                                           v-model="book.publishedAt"
                                           placeholder="10/30/1995" required>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="descriptionInput">Description</label>
                                    <textarea class="form-control" id="descriptionInput" v-model="book.description"
                                              placeholder="In a galaxy far far away..." rows="3" required></textarea>
                                </div>
                            </div>
                        </div>

                        <button @click="isForm = false" class="btn btn-secondary mx-2">Cancel</button>
                        <button type="submit" class="btn btn-success mx-2">Save</button>

                    </form>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    import Vuex from 'vuex'

    export default {
        name: "bookCards",
        props: {
            books: Array,
        },
        data() {
            return {
                book: [],
                isDeleted: false,
                isUpdated: false,
                isForm: false,
                isShow: false,
                close: false,
            }
        },
        methods: {
            ...Vuex.mapActions('booksModule', {
                deleteBook: 'deleteBook',
                updateBook: 'updateBook',
                setBooks: 'setBooks',
            }),
            removeBook(book) {
                this.deleteBook(book);
                this.isDeleted = true;
                this.isShow = false;
                this.setBooks();
            },
            submitForm(book) {
                this.updateBook(book);
                this.isUpdated = true;
                this.isForm = false;
                this.setBooks();
            },
            editBook(book) {
                this.isShow = false;
                this.isForm = true;
                this.book = book
            },
            showBook(book) {
                this.isShow = true;
                this.book = book
            }
        },
    }
</script>

<style scoped lang="scss">

    .alert {
        .close {
            cursor: pointer;
        }
    }

    .card {
        width: 30rem;
        max-width: 100%;
        border: unset;
        border-radius: unset;
        box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.64);

        .card-header {
            font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
            font-family: Meera, sans-serif;
            font-weight: unset;
            border: unset;
            border-radius: unset;
            background-color: #344859;
            color: white;
        }

        .trash {
            cursor: pointer;
        }
    }

    .card-form {
        width: 51rem;
    }

</style>
