<template>

    <div class="new-book">
        <div v-if="isCreated && !close" class="alert alert-success">
            The book has been created successfully
            <font-awesome-icon icon="times-circle" class="float-right close"
                               @click="close = !close"></font-awesome-icon>
        </div>

        <button v-if="isAddBook" @click="showAddBook" class="btn btn-outline-dark">Add book</button>

            <div v-else class="row justify-content-center animated fadeIn">

                <div class="card mb-5">
                    <div class="card-body">
                        <div v-if="errored" class="alert alert-danger">Please complet all fields</div>
                        <form @submit.prevent="submitForm">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="isbnInput">Isbn</label>
                                        <input type="text" class="form-control" id="isbnInput" v-model="book.isbn"
                                               placeholder="47239A2947243" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="titleInput">Title</label>
                                        <input type="text" class="form-control" id="titleInput" v-model="book.title"
                                               placeholder="The lord of the rings" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="authorInput">Author</label>
                                        <input type="text" class="form-control" id="authorInput" v-model="book.author"
                                               placeholder="J.R.R Tolkien" required>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="publishedDateInput">Published date</label>
                                        <input type="date" class="form-control" id="publishedDateInput"
                                               v-model="book.publishedAt"
                                               placeholder="10/30/1995" required>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="descriptionInput">Description</label>
                                        <textarea class="form-control" id="descriptionInput" v-model="book.description"
                                                  placeholder="In a galaxy far far away..." rows="3"
                                                  required></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" @click="showAddBook" class="btn btn-secondary mx-2">Cancel</button>
                            <button type="submit" class="btn btn-success mx-2">Add</button>

                        </form>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>
    import Vuex from 'vuex'

    export default {
        name: "newBook",
        data() {
            return {
                isAddBook: true,
                book: {
                    isbn: '',
                    title: '',
                    author: '',
                    publishedAt: '',
                    description: '',
                },
                errored: false,
                error: '',
                isCreated: false,
                close: false,
            }
        },
        methods: {
            showAddBook() {
                this.isAddBook = !this.isAddBook
            },
            ...Vuex.mapActions('booksModule', {
                addBook: 'addBook',
                setBooks: 'setBooks',
            }),
            submitForm() {

                if (!this.book.isbn || !this.book.title || !this.book.author || !this.book.publishedAt || !this.book.description) {
                    this.errored = true
                    this.isCreated = false
                } else {
                    this.addBook(this.book);
                    this.setBooks();
                    this.isCreated = true;
                    this.isAddBook = !this.isAddBook;
                }
            }
        },
    }
</script>

<style scoped lang="scss">

    .alert {
        .close {
            cursor: pointer;
        }
    }

    .card {
        width: 51rem;
        max-width: 100%;
        border: unset;
        border-radius: unset;
        box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.4);

        .card-header {
            font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
            font-family: Meera, sans-serif;
            font-weight: unset;
            border: unset;
            border-radius: unset;
            background-color: #344859;
            color: white;
        }

        .card-body {
            height: auto;
        }
    }

</style>
