<template>
    <section class="books my-5">
        <div class="container-fluid">
            <h1>Find all books here</h1>
            <new-book></new-book>
            <book-cards :books="getBooks"></book-cards>
        </div>
    </section>
</template>

<script>
    import bookCards from "../components/books/bookCards";
    import newBook from "../components/books/newBook";
    import Vuex from 'vuex'

    export default {
        name: "Book",
        components: {
            bookCards,
            newBook,
        },
        methods: {
            ...Vuex.mapActions('booksModule', {
                setBooks: 'setBooks',
            }),
            ...Vuex.mapActions('reviewsModule', {
                setReviews: 'setReviews',
            })
        },
        computed: {
            ...Vuex.mapGetters('booksModule', {
                getBooks: 'getBooks'
            }),
            ...Vuex.mapGetters('reviewsModule', {
                getReviews: 'getReviews',
            }),
        },
        created() {
            this.setBooks();
            this.setReviews()
        }
    }
</script>

<style scoped>

</style>
