<template>
    <section class="home my-5">
        <div class="container-fluid">
            <h1>Some books...</h1>
            <book-carousel :books="getBooks.slice(0,3)"></book-carousel>
            <h1 class="mb-4">Some reviews...</h1>
            <review-cards :reviews="getReviews.slice(0,3)" :books="getBooks"></review-cards>
        </div>
    </section>
</template>

<script>
    import bookCarousel from "../components/books/bookCarousel";
    import reviewCards from "../components/reviews/reviewCards";
    import Vuex from 'vuex'

    export default {
        name: "Home",
        components: {
            bookCarousel,
            reviewCards
        },
        methods: {
            ...Vuex.mapActions('booksModule', {
                setBooks: 'setBooks',
            }),
            ...Vuex.mapActions('reviewsModule', {
                setReviews: 'setReviews',
            })
        },
        computed: {
            ...Vuex.mapGetters('booksModule', {
                getBooks: 'getBooks'
            }),
            ...Vuex.mapGetters('reviewsModule', {
                getReviews: 'getReviews',
            })
        },
        created() {
            this.setBooks();
            this.setReviews()
        }
    }
</script>

<style scoped>

</style>
