<template>
    <section class="reviews my-5">
        <div class="container">
            <h1>Find all reviews here</h1>
            <review-cards :reviews="getReviews" :books="getBooks"></review-cards>
        </div>
    </section>
</template>

<script>
    import reviewCards from "../components/reviews/reviewCards";
    import Vuex from 'vuex'

    export default {
        name: "Reviews",
        components: {
            reviewCards
        },
        methods: {
            ...Vuex.mapActions('booksModule', {
                setBooks: 'setBooks',
            }),
            ...Vuex.mapActions('reviewsModule', {
                setReviews: 'setReviews',
            })
        },
        computed: {
            ...Vuex.mapGetters('booksModule', {
                getBooks: 'getBooks'
            }),
            ...Vuex.mapGetters('reviewsModule', {
                getReviews: 'getReviews',
            })
        },
        created() {
            this.setBooks();
            this.setReviews()
        }
    }
</script>

<style scoped>

</style>
