<template>
    <nav class="navbar navbar-expand-lg navbar-dark" id="navbar">
        <router-link :to="{ name: 'Home' }">
            <img class="logo-navbar my-2"
                 src="../../assets/book_icon.png"
                 alt="logo books">
        </router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarVuejs"
                aria-controls="navbarVuejs" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarVuejs">
            <div class="navbar-nav py-0 ml-auto text-right">
                <router-link :to="{ name: 'Home' }" class="nav-item nav-link mx-2">{{ 'Home' | uppercase }}</router-link>
                <router-link :to="{ name: 'Books' }" class="nav-item nav-link mx-2">{{ 'Books' | uppercase }}</router-link>
                <router-link :to="{ name: 'Reviews' }" class="nav-item nav-link mx-2">{{ 'Reviews' | uppercase }}</router-link>
                <router-link :to="{ name: 'Login' }" class="nav-item nav-link ml-2">
                    LOGIN
                </router-link>
                <router-link :to="{ name: 'Register' }" class="nav-item nav-link">
                    REGISTER
                </router-link>
            </div>
        </div>
    </nav>
</template>

<script>

    export default {
        name: "Menu",
    }
</script>

<style scoped lang="scss">

    .navbar{
        background-color: #4fc08d;

        .nav-link {
            font-size: 1.5rem;
        }
    }

</style>
