<template>
    <div id="app">
        <Menu></Menu>
        <router-view/>
    </div>
</template>

<style lang="scss">

    #app {
        font-family: 'Avenir', Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;

        .btn{
            border-radius: unset;
        }

        .btn-success, .alert-success{
            background-color: #2bc881;
            border-color: #2bc881;
        }
    }

    body {
        background-color: aliceblue !important;
    }

    h1, h2, h3{
        font-family: Meera, Arial, sans-serif;
    }

</style>
<script>
    import Menu from "./components/common/Menu";

    export default {
        components: {
            Menu
        },
    }
</script>
