<template>

    <section class="login">
        <div class="container my-5">

            <h1 class="text-center mb-5">{{ 'Register' | uppercase }}</h1>

            <div class="row justify-content-center">
                <div class="card">
                    <div class="card-body">

                        <form @submit.prevent="login">
                            <div class="form-group text-left">
                                <label for="firstnameInput">Firstname</label>
                                <input type="text" class="form-control" id="firstnameInput"
                                       aria-describedby="firstname" placeholder="John" v-model="firstname">
                            </div>
                            <div class="form-group text-left">
                                <label for="lastnameInput">Lastname</label>
                                <input type="email" class="form-control" id="lastnameInput"
                                       aria-describedby="lastname" placeholder="Doe" v-model="lastname">
                            </div>
                            <div class="form-group text-left">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" placeholder="example@gmail.com" v-model="email">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with
                                    anyone
                                    else.</small>
                            </div>
                            <div class="form-group text-left">
                                <label for="passwordInput">Password</label>
                                <input type="password" class="form-control" id="passwordInput"
                                       placeholder="Password" v-model="pwd">
                            </div>
                            <div class="form-group text-left">
                                <label for="passwordConfirmationInput">Password confirmation</label>
                                <input type="password" class="form-control" id="passwordConfirmationInput"
                                       placeholder="Password" v-model="pwdConfirmation">
                            </div>
                            <div class="form-group form-check text-left">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Remember me</label>
                            </div>
                            <button type="submit" class="btn btn-success">Register</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </section>

</template>


<script>
    export default {
        name: "registration",
        data() {
            return {
                firstname: '',
                lastname: '',
                email: '',
                pwd: '',
                pwdConfirmation: '',
            }
        },
        methods: {
            login() {

            }
        }
    }
</script>

<style scoped lang="scss">
    .card {
        width: 30rem;
        max-width: 100%;
        border: unset;
        border-radius: unset;
        box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.64);

        .card-header {
            font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
            font-family: Meera, sans-serif;
            font-weight: unset;
            border: unset;
            border-radius: unset;
            background-color: #344859;
            color: white;
        }
    }
</style>
